* {
    box-sizing: border-box;
    margin: 5px;
    padding: 1px;
    font-weight: bold;
    
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/10/12/19/50/matrix-1735640__340.jpg");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


header {
        
        
        margin: 2px;
        padding: 2px;
        
}

div > button {
    background-color: black;
    flex: 1;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.nav {
    display: flex;
    color: white;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;    
}

.nav .box-left {
    display: flex;
    flex: 1;
    justify-content: center;
}


.nav .box-middle {
    display: flex;
    flex: 1 0 50%;
    font-size: 5em;
    color: white;
    justify-content: center;
    
    text-decoration: underline;


}
.nav .box-right {
    display: flex;
    flex: 1;
   
    justify-content: center;

}



.main {
    display: flex;      
    align-items: center;
    gap: 1em;
}

.main .section-left {
    flex: 1;
    align-items: flex-start;
    height: 75%;
  
    font-size: 3em;
    align-self: flex-start;
    color: white;
}

.main .section-middle {
    flex: 3;
    color: white;
    align-items: center;
    font-size: 4em;
   
    
    font-weight: bold;
}

.main .section-right {
    flex: 1;
    align-items: flex-end;
    height: 75%;
    
    
    font-size: 2em;
    align-self: flex-end;
    color: white;
}
.containerTwo {
    display: flex;
    align-content: center;
}

.containerTwo .span {
   justify-content: center;
    height: 200px;
    width: 200px;
}


footer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3em;
}



git@github.com:zanfiel/odin-project-html-css-.git