* {
    box-sizing: border-box;
    margin: 5px;
    padding: 1px;
    background-image: linear-gradient(cyan, rgb(233, 6, 233));
  }


header {
        background-color: rgb(148, 222, 245);
        border: 8px groove rgb(0, 255, 34);
        margin: 2px;
        padding: 2px;
        
}

div > button {
    background-color: rgb(8, 8, 8);
    flex: 1;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.nav {
    background-color: black;
    display: flex;
    border: 12px groove rgb(125, 248, 1);
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;    
}

.nav .box-left {
    display: flex;
    flex: 1;
    background-color: rgb(185, 239, 247);
    justify-content: center;
}


.nav .box-middle {
    display: flex;
    flex: 1 0 50%;
    font-size: 5em;
    background-color:rgb(120, 120, 241);
    justify-content: center;
    border: 20px groove rgb(44, 248, 3);
    text-decoration: underline;


}
.nav .box-right {
    display: flex;
    flex: 1;
    background-color: rgb(194, 237, 243);
    justify-content: center;

}



.main {
    display: flex;      
    align-items: center;
    gap: 1em;
}

.main .section-left {
    flex: 1;
    align-items: flex-start;
    height: 75%;
    background-image: linear-gradient(cyan, blue, purple);
    border: 15px groove rgb(3, 248, 85);
    font-size: 3em;
    align-self: flex-start;
    color: white;
}

.main .section-middle {
    flex: 3;
    align-items: center;
    font-size: 4em;
    background-image: linear-gradient(red, yellow, green);
    border: 20px groove rgb(3, 248, 36);
    font-weight: bold;
}

.main .section-right {
    flex: 1;
    align-items: flex-end;
    height: 75%;
    background-image: linear-gradient(blue, red);
    border: 15px groove rgb(3, 248, 105);
    font-size: 2em;
    align-self: flex-end;
    color: white;
}
.containerTwo {
    display: flex;
    align-content: center;
}

.containerTwo .span {
   justify-content: center;
    height: 200px;
    width: 200px;
    border: 8px solid rgb(235, 5, 223);
}


footer {
    display: flex;
    justify-content: center;
    color: white;
    border: 12px groove white;
    font-size: 3em;
}



